%p Abboniere unserem Newsletter und erhalte in regelmäßigen Abständen Neuigkeiten von uns.
%form{action: 'https://riseup.us20.list-manage.com/subscribe/post?u=bc7884aeb028b1b026847f5e3&amp;id=d18f5acd8a', method: 'post', novalidate: '', target: '_blank'}
  .form-group
    %label{for: 'mce-EMAIL'} E-Mail *
    %input#mce-EMAIL.form-control{type: 'email'}
  .form-group
    %label{for: 'mce-FNAME'} Vorname
    %input#mce-FNAME.form-control
  .form-group
    %label{for: 'mce-LNAME'} Nachname
    %input#mce-LNAME.form-control
  %div{'aria-hidden' => 'true', style: 'position: absolute; left: -5000px;'}
    %input{name: 'b_bc7884aeb028b1b026847f5e3_d18f5acd8a', tabindex: '-1', type: 'text', value: ''}
  %button.btn.btn-primary{type: 'submit'} Abonnieren
