.container
  .logo
    = image_tag 'paradieschen.jpg', class: 'logo--image img-fluid'
    %h1.logo--header Pa*radieschen Wohnprojekt

  .section
    %h2 Wer wir sind und was wir wollen
    %p
      Wir sind eine Gruppe, die ein Mehrgenerationen-Wohnprojekt in Augsburg realisieren möchte. Dafür treffen wir uns schon seit Anfang 2017 in regelmäßigen Abständen und kommen unserem Ziel Schritt für Schritt näher. Aktuelle Entwicklungen könnt ihr auf #{link_to 'Facebook', 'https://www.facebook.com/paradieschen.augsburg/', target: '_blank'} mitverfolgen.
    %p
      Wir möchten einen Wohnraum schaffen, der uns wie auch allen Nachmieter*innen langfristig bezahlbare Mieten und ein hierarchiefreies Zusammenleben ermöglicht.
    %p
      Dafür wollen wir ein leerstehendes Haus kaufen oder auf einem freien Grundstück bauen. Die Wohnfläche soll ausbaubar sein, sodass ein späterer Zuwachs möglich ist. Wir wollen in getrennten Wohneinheiten oder Wohngemeinschaften wohnen und zusätzlich Gemeinschaftsräume nutzen.
    %p
      Zudem möchten wir einen Freiraum für andere Gruppen und Initiativen zur Verfügung stellen, der für kulturelle, ökologische, soziale und politische Aktivitäten kostenfrei genutzt werden kann und für eine möglichst breite Öffentlichkeit zugänglich ist. Nicht zuletzt aus diesem Grund wäre Zentrumsnähe zu Augsburg für unser Projekt vorteilhaft.
    %p
      Über Direktkredite von Privatpersonen und über Bankkredite kaufen wir Wohnraum und passen diesen an unsere Bedürfnisse an. Die Kredite werden über die Mieten zurück bezahlt.
    %p
      Durch den Zusammenschluss mit dem Mietshäuser Syndikat garantieren wir, dass der Besitz zukünftig nicht in Privathand zurückgehen kann. Mit der Expertise aus deutschlandweit rund 140 erfolgreich umgesetzten Wohnprojekten berät uns das Mietshäuser Syndikat fortlaufend.


      Wir sind eine Gruppe von Menschen, die ein Mehrgenerationen-Wohnprojekt in Augsburg realisieren möchten. Dafür treffen wir uns schon seit Anfang 2017 in regelmäßigen Abständen und kommen unserem Ziel Schritt für Schritt näher.

  .section
    %h2 Unterstützte uns
    %p
      Für die Umsetzung des Pa*radieschen Wohnprojekts brauchen wir Unterstützung. Unser Projekt kann nur durch die Initiative vieler Menschen verwirklicht werden!

    %p
      Wir suchen nach einem Haus, das Platz für ca. 15 Menschen bietet und in Zentrumsnähe von Augsburg liegt. Auch ein Grundstück für einen Hausbau in dieser Dimension wäre denkbar. Falls Du Besitzer*in bist oder Dir etwas Passendes einfällt, schreib uns einfach eine E-Mail. Wir freuen uns über jede Kontaktaufnahme.

    %p
      Weiter bauen wir einen finanziellen Unterstützer*innenkreis auf, der uns eine Realisierung des Wohnprojekts möglich macht. Im ersten Schritt sammeln wir dafür rechtlich unverbindliche Zusagen (Absichtserklärungen) für eine Direktkreditgabe. Hast Du den Entschluss gefasst, unser Projekt finanziell zu unterstützen, kannst Du dafür die Vorlage für die Absichtserklärung auf diesem Flyer verwenden. Im zweiten Schritt, wenn ein tatsächlicher Kauf bevorsteht, kommen wir dann wieder auf dich zu. Du kannst dann frei entscheiden, ob Du unser Projekt mit einem Direktkredit tatsächlich unterstützen willst und kannst. Durch diese Vorarbeit können wir auch schon ohne rechtsbindende Verträge eine realistische Finanzplanung für mögliche Wohnobjekte machen und im Fall der Fälle auch einen Kauf in einem angemessenen Zeitraum durchführen.

    %p
      Zuletzt freuen wir uns auch über Spenden, die für Kosten wie Raummieten bei Vorträgen oder Druckmedien verwendet werden.
